################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UltimoEstructuras/v15/ipch/AutoPCH
/.vs/experimento/v15/ipch/AutoPCH/7084a6d1dd7122ae
/.vs/experimento/v15
